@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  /* .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  } */
  .collection .slider--tablet.product-grid{scroll-padding-left: 0rem;}
  .custom-collection-new .featured__text--spacing {
        padding-left: 0px;
        scroll-margin-left: 0px;
    }
  .custom-collection-new .slider-buttons {
    top: 45%;
    margin-inline:0px !important;
  }
  .custom-collection-new  .slider-button {
    width: 35px !important;
    height: 35px !important;
  }
  
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}


/* new css  */


.feactured-grid slider-component {
  position: relative;
}

.feactured-grid slider-component .slider-buttons {
  position: absolute;
  top:45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-inline: 1.6rem;
  z-index: 4;
  pointer-events: none; /* Optional: lets arrows not block content if needed */
}

.feactured-grid .slider-button {
  pointer-events: auto; /* Allow clicking */
}

.custom-collection-new .slider-button .icon {
    height: 100%;
}
.custom-collection-new .slider-button .svg-wrapper {
    width: 100%;
    height: 100%;
}
.custom-collection-new .slider--desktop.grid--4-col-desktop .grid__item
 {
    width: 100%;
}

.custom-collection-new .slider-component-full-width .slider--desktop .slider__slide:first-child {
    margin-left: 0px;
    scroll-margin-left: 0px;
}
.custom-collection-new .slider-component-full-width .slider--desktop {
        scroll-padding-left: 0px;
}


/* new css */

.template-collection #SortBy,.template-collection .select__select:focus {
    outline-offset: unset;
    outline: unset;
    box-shadow: unset;
}
.template-collection .facet-filters__sort{
  padding: 0 5px 0 5px;
}


/*  */
.menu-opening .mobile-facets__inner {
    background: linear-gradient(to right, #c9dedf, #eac7b5, #f0c0a7 66%, #d9cceb) !important;
}
#SortBy-mobile {
    padding: 6px;
    background: unset;
    outline: unset;
    outline-offset: unset;
    box-shadow: unset;
}